<div ng-controller="SubjectStartCtrl">
<div class="navbar navbar-fixed-top container">
  <div class="navbar navbar-default" style="margin-bottom: 0;">
		<ul class="nav navbar-nav">
			<li class="active">
				<a>User ID: <span>{{$root.user_id}}</span></a>
			</li>
		</ul>
		<div class="navbar-right">
			<div class="navbar-text">Period: <span>{{$root.period}}</span></div>
			<div class="navbar-text">Total Reward: <span>{{$root.totalPoints}}</span></div>
		</div>
	</div>
</div>

<div class="container">

	<key-press key-code="38" callback="onSelection(1)"></key-press>
	<key-press key-code="40" callback="onSelection(2)"></key-press>
	<key-press key-code="13" callback="confirm()"></key-press>

	<div class="row">
		<div class="col-md-2"></div>
    <div class="row">
      <div class="col-md-12 text-center">
        <h3 id="decision">Decision</h3>
      </div>
    </div>
		<div class="col-md-10">
			<div class="row">
				<div class="col-md-6 col-md-offset-4">
					<div class="row">
						<div class="col-md-12">
							<table id="input-matrix" class="table table-bordered table-condensed">
								<tr style="height:40px;">
									<td></td>
									<td ng-class="{'selected': prevPartnerAction == 1}">A</td>
									<td ng-class="{'selected': prevPartnerAction == 2}">B</td>
								</tr>
								<tr style="height:40px;">
									<td class="input-cell" ng-class="{'selected': selection == 1}">
										<span class="disabled" ng-hide="inputsEnabled">A</span>
										<a ng-click="onSelection(1)" ng-show="inputsEnabled" class="input-link" href>A</a>
									</td>
									<td ng-class="{'selected': prevPartnerAction == 1 || selection == 1, 'double-selected': prevPartnerAction == 1 && selection == 1}">
										<strong>{{matrix[0][0][0]}}</strong>, <span>{{matrix[0][0][1]}}</span>
									</td>
									<td ng-class="{'selected': prevPartnerAction == 2 || selection == 1, 'double-selected': prevPartnerAction == 2 && selection == 1}">
										<strong>{{matrix[0][1][0]}}</strong>, <span>{{matrix[0][1][1]}}</span>
									</td>
								</tr>
								<tr style="height:40px;">
									<td class="input-cell" ng-class="{'selected': selection == 2}">
										<span class="disabled" ng-hide="inputsEnabled">B</span>
										<a ng-click="onSelection(2)" ng-show="inputsEnabled" class="input-link" href>B</a>
									</td>
									<td ng-class="{'selected': prevPartnerAction == 1 || selection == 2, 'double-selected': prevPartnerAction == 1 && selection == 2}">
										<strong>{{matrix[1][0][0]}}</strong>, <span>{{matrix[1][0][1]}}</span>
									</td>
									<td ng-class="{'selected': prevPartnerAction == 2 || selection == 2, 'double-selected': prevPartnerAction == 2 && selection == 2}">
										<strong>{{matrix[1][1][0]}}</strong>, <span>{{matrix[1][1][1]}}</span>
									</td>
								</tr>
							</table>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<button ng-click="confirm()" ng-disabled="!inputsEnabled" class="btn btn-success">Ready</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
  <br>
  <div class="row">
    <div class="row">
      <div class="col-md-12 text-center">
        <h3 id="communicate">Communicate {{timeleft >= 0 ? '('+timeleft+')' : ''}}</h3>
      </div>
    </div>
    <div id="wrapper">
      <div id="menu">
        <div style="clear:both"></div>
      </div>

      <div id="chatbox">
        <p ng-repeat="message in messages">
          <strong>{{message.from == user_index ? 'You' : 'Other Person'}}</strong> : {{message.text}}
        </p>
      </div>
      <form ng-show="chatEnabled || play === 'allplay'">
        <input ng-model="message" name="usermsg" type="text" id="usermsg" size="63" />
        <button class="btn btn-default" ng-click="sendMessage()">Send</button>
        <!-- <input name="submitmsg" type="submit" id="submitmsg" value="Send" /> -->
      </form>
    </div>
  </div>
	<div class="row">
		<hr style="margin-top:20px;"/>
		<div class="col-md-12" id="footer">
		</div>
	</div>
</div>
</div>
