body {
  padding-top: 60px;
}

.no-transition:hover{
  -webkit-transition: none;
  background-position: 0 0;
}

#input-matrix {
  text-align: center;
  vertical-align: middle !important;
}

#input-matrix > tbody > tr > td {
  text-align: center;
  vertical-align: middle !important;
}

.input-cell {
  padding: 0 !important;
  width: 80px;
  font-weight:bold;
}
td.selected {
  background-image: url('/static/experiments/discreteMatrix/img/InputShadingLight.png');
}
td.double-selected {
  background-image: url('/static/experiments/discreteMatrix/img/InputShadingDark.png');
}

.input-link {
  display: block;
}
.disabled {
  color: grey;
}
.enabled {
  color: green;
}

#results-table > tbody > tr > th {
  text-align: center;
}

form {
  margin: 0 auto;
  padding: 0;
}
input {
  font: 12px arial;
}
#wrapper {
  margin: 0 auto;
  padding-bottom: 25px;
  background: #EBF4FB;
  width: 504px;
  border: 1px solid #ACD8F0;
}

#chatbox {
  text-align: left;
  margin: 0 auto;
  margin-bottom: 25px;
  padding: 10px;
  background: #fff;
  height: 270px;
  width: 430px;
  border: 1px solid #ACD8F0;
  overflow: auto;
}
#usermsg {
  width: 395px;
  margin-left: 36px;
  border: 1px solid #ACD8F0;
}
#menu {
  padding: 12.5px 25px 12.5px 25px;
}
